@charset "UTF-8" ;
.hidden {display: none;}

p {
    color: #fff;
    line-height: 100px;
    text-align: center;
    margin: 0;
}

div,p,body,header,footer,section,article,nav {
    margin: 0;
    padding: 0;
}











#hero {
  height: 20em;
  font-size: large;
    overflow: hidden;
    border-bottom: solid 1px #DDD;
    background-color: #000;
}

#songsearch {
   
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        row-gap: 1em;
        background-color: #074214;
       
    
    
  }

  #songsearch img {
      margin-top: 1em;
      margin-left: 8em;
  }

  #songsearch p {
      margin-top: 0em;
    margin-right: 2em;
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
}


#mainHeader {
    overflow: hidden;
    border-bottom: solid 1px #DDD;
    background-color: #074214;
}


.Mixer {
    display: block;
    height: 520px;

  background-image:url('../images/backgrounddrop.jpg') ;
  background-repeat: no-repeat;

  }

  .grid {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    row-gap: 1em;
  }
  
.two-item {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 1em;
 }

#logo { 
    width: 200px;
    margin-left: 20em;
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
}

#mainNav{
    float: right;
    width: 500px;
}






#mainFooter {
    
    overflow: hidden;
    height: 5em;
      background-color: #074214;
      font-family: 'League Gothic', sans-serif;
      font-size: 2em;
}

#mainFooter p {
    margin-top: 1em;
}